---

- name: Merge template with data 
  hosts: localhost
  gather_facts: no

  tasks:
    - name: form vrf list
      set_fact:
        vrfs: []

    - name: Include variables for configuration
      set_fact:
        vrfs: "{{ vrfs + [ lookup('file', item) | from_yaml ] }}"
      with_fileglob:
        - "vars/*.yml"
          
    - name: Merge template
      template:
        src: templates/overlay.j2
        dest: "{{ 'overlay_' + item['overlay']['name']|string + '.nxos' }}"
      vars:
        myTemplateVariable: item
      with_items:
        - "{{ vrfs }}"
